:root{
    color-scheme: dark;
    font-family: Consolas, Arial, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: space-between;
}

header, footer {
    background: #000000;
    text-align: center;
}

.grid {
    background: white;
    display: flex;
    width: 700px;
    height: 700px;
    margin: 10px auto 20px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}
button:hover {
    animation: heartbeat 1s infinite;
}

.cell{
    box-sizing: border-box;
}